@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #ef0e3d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

img {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo_img {
  height: auto;
  width: 100%;
  max-width: 700px;
}

.header_border {
  height: 20px;
  background-color: #383838;
}
